<div class="container">
  <!-- <h3 class="text-center fw-bold" style="margin-top :5.5rem!important;"><span style="color: #CA8963;">Our</span> variety -->
  <!-- </h3> -->
  <div class="row" style="margin-top:5rem!important">
    <div class="col-6 col-md-3 text-center">
      <div class="scrollable" (click)="onSelectItem('All Products')">

        <p><img src="../../../../assets/images/allprod.png" height="80" width="80" class="nav-prods" /></p>
        <p class="fw-bold itemName" (click)="onSelectItem('All Products')">All Products</p>
      </div>
    </div>
    <div class="col-6 col-md-3 text-center" (click)="onSelectItem('electronics')">
      <div class="scrollable">
        <p><img src="../../../../assets/images/electronics.png" height="80" width="80" class="nav-prods" /></p>
        <p class="fw-bold itemName"  (click)="onSelectItem('electronics')">Electronics</p>
      </div>
    </div>
    <div class="col-6 col-md-3 text-center"  (click)="onSelectItem('fashion')">
      <div class="scrollable">
        <p><img src="../../../../assets/images/fashion.png" height="80" width="80" class="nav-prods" /></p>
        <p class="fw-bold itemName"  (click)="onSelectItem('fashion')">Fashion</p>
      </div>
    </div>
    <div class="col-6 col-md-3 text-center" (click)="onSelectItem('jewelery')">
      <div class="scrollable">
        <p><img src="../../../../assets/images/jwellery.jpg" height="80" width="80" class="nav-prods" /></p>
        <p class="fw-bold itemName"  (click)="onSelectItem('jewelery')">Jewellery</p>
      </div>
    </div>

  </div>
</div>