<app-header></app-header>

<ng-container *ngIf="isCartFull">

  <div class="container margin-top-5 containerFull">
    <div class="row">
      <div class="col-md-8 card mb-2 margin-top-screen-small" >
        <div *ngFor="let i of cartItems">
          <div class="row">
            <div class="col-3 mx-5">
              <img src={{i.image}} height="80px" width="80px" class="mt-5 mb-5" />
            </div>
            <div class="col-5 mb-2">
              <h4 class="mt-2">{{i.title}}</h4>
              <small>{{i.description}}</small>
              <h5 class="mt-2">₹{{i.price}}</h5>

            </div>
            <span style="text-align: end;"><i class="fa fa-trash mx-3 mb-2" (click)="removeItemFromCart(i)"></i></span>
          </div>
        </div>
      </div>



      <div class="col-md-3 mx-1 card position-fixed toRight">
        <span class="text-secondary fw-bold"> PRICE DETAILS</span>
        <div class="mt-2 mb-2 d-flex justify-content-between">

          <span>Price ({{cartItems.length}})</span>
          <span>₹{{total}}</span>
        </div>
        <div class="mt-2 mb-2 d-flex justify-content-between">
          <span>Discount</span>
          <span class="text-success"> - ₹0</span>
        </div>
        <div class="mt-2 mb-2 d-flex justify-content-between">
          <span> Delivery Charges</span>
          <span class="text-success"> Free</span>
        </div>
        <div class="mt-2 mb-2 d-flex justify-content-between">
          <h4>Total Amount </h4>
          <h4>₹{{total}}</h4>
        </div>

      </div>
    </div>
    <!-- </div> -->
  </div>

</ng-container>

<div class="container card margin-top-5 text-center align-items-center" *ngIf="isCartEmpty && cartItems?.length===0">
  <img src="../../../../assets/images/empty-cart.png" height="280" width="360" class="mx-auto d-block" />
  <h5>Your cart is empty!</h5>
  <small>Looks like you havent added anything to your card.</small>
  <small class="mb-5">Go ahead and explore categories</small>

  <button class="btn btn-clr mb-5" (click)="shopNow()">Shop Now</button>

</div>