.btn-clr{
    width: 120px;
}

.fa-trash,.fa-shopping-basket{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}


table{
    font-size: 14px !important;
}

thead tr{
    text-align: center;
}

.containerFull{
    height: 500px!important;
    overflow-y: scroll;
}

.margin-top-5{
    margin-top:6rem
}


.margin-top-screen-small{

}

.toRight{
    right: 7%;
}

.btn-clr{
    width: auto;
}

@media all and (max-width:768px) {
    .toRight{
        right: 0%;
    }

   
}


@media all and (max-width:767px) {
    .margin-top-screen-small{
        margin-top:13rem;
    }
}